.todo-app--todo-input__div {
	padding: 1.5rem;

	border-radius: 5px;
	display: flex;
	align-items: center;

	margin-top: 3em;
}

.todo-app--todo-input__div > input {
	outline: none;
	background: transparent;
	border: 0px;
	
	font-size: 18px;
	margin-left: 1em;
	font-family: 'Josefin Sans';
	flex: 1;
	width: 100%;
}